<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Death Note</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/death_note_icon.png">
</head>
<body>
    <div class="death-note-container">
        <div class="skull-decoration skull-1">☠</div>
        <div class="skull-decoration skull-2">☠</div>
        
        <h1>DEATH NOTE</h1>
        
        <div class="death-info">
            <span>Name: {{ .Name }}</span>
            {{if eq .Time ""}}
                <span>Time: Not specified (will be calculated as current time + 40 seconds)</span>
            {{else}}
                <span>Time of death: {{.Time}}</span>
            {{end}}
            {{if eq .Cause ""}}
                <span>Cause: Heart attack</span>
            {{else}}
                <span>Cause: {{.Cause}}</span>
            {{end}}
        </div>
        
        <form method="POST">
            <label for="name">Enter Name, Time and Reason</label>
            <input type="text" id="name" name="name" placeholder="Name Human" required>
            <input type="text" id="time" name="time" placeholder="Time of death (optional, format: 03.09.2025 11:24)">
            <input type="text" id="cause" name="cause" placeholder="Reason of death (optional)">
            <button>Write in Death Note</button>
        </form>
    </div>
</body>
</html>